html, body {background-color: #ffffff; color: #000;} 

.portfolio-page {
    background-color: #ffffff; color: #000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}
